* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --grey: #ececec;
}
.body {
  max-width: 80%;
  height: auto;
  margin: auto;
  background-color: var(--grey);
}
#parent {
  background-color: antiquewhite;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#logo {
  float: left;
  position: relative;
  width: 150px;
}
#child {
  background-color: ghostwhite;
  color: midnightblue;
  font-weight: bold;
  font-style: italic;
  margin: 15px;
}
#baby,
#hist,
#news,
#faculty {
  padding: 50px;
  background-color: lightcyan;
  box-shadow: var(--shadow);
  font-size: 25px;
}
#gall,
#adm,
#stream {
  padding: 50px;
  background-color: antiquewhite;
  box-shadow: var(--shadow);
  font-size: 25px;
}
#mainmenu {
  background-color: var(--grey);
}
#list {
  list-style-type: none;
}
#list > li {
  display: inline-block;
}
#list > li:hover {
  background-color: ghostwhite;
  color: midnightblue;
}
a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: small;
  font-family: sans-serif;
  padding: 15px;
}
a:hover {
  color: midnightblue;
}
#img {
  float: right;
  margin: 10px;
}
#anthem,
#gmap,
#wiki {
  font-weight: bold;
}
audio {
  width: 400px;
  height: 40px;
}
#wikia {
  font-weight: bold;
  font-size: large;
}
#copyright {
  float: right;
}
#clearfix {
  clear: both;
}
#contact {
  float: left;
}
footer {
  font-size: small;
}
.gallery {
  margin: 10px;
  width: 350px;
  height: 350px;
}

input[type="submit"] {
  padding: 5px;
}
input[type="text"],
input[type="date"],
input[type="number"],
select {
  border-radius: 5px;
  height: 25px;
}
td {
  font-size: 25px;
  padding: 5px;
}
#sub-adm {
  margin: 20px;
  background-color: var(--grey);
  color: black;
}
.nav-menu.active {
  background-color: white;
}
@media (max-width: 800px) {
  #child {
    font-size: 18px;
  }
  .body p {
    font-size: 17px;
  }
  #logo {
    height: 125px;
  }
  #img {
    width: 250px;
  }
  iframe {
    width: 450px;
    height: 250px;
  }
  a,
  #copyright,
  th,
  .tel,
  .email {
    font-size: x-small;
  }
  audio {
    width: 200px;
    height: 25px;
  }
  #wikia {
    font-size: small;
  }
}
